@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 200px;
  border: 3px solid #cbb685;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #cbb685;
  background: #cbb685;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #2a2a2a;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
}
:root {
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: 'Helvetica Neue', 'Roboto', 'Verdana', sans-serif;
  color: #2a2a2a;
  background-color: #fafafa;
  line-height: 1.5;
}

button {
  background-color: rgb(185, 157, 116);
  padding: 10px;
  border-radius: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 15px;
  margin: 0 auto;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.thumb {
  height: 400px;
}
.gallery a {
  height: 552px;
  width: calc((100% - 40px) / 3);
}
.thumb img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.info {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.search-form {
  margin-bottom: 40px;
}

.info-item {
  flex-basis: calc(50% - 10px);
  margin-bottom: 10px;
  background-color: #f2f2f2;
  padding: 10px;
  box-sizing: border-box;
}

.test {
  background-color: #2a2a2a;
  color: #2a2a2a;
}
